# === FAKE LANGUAGES FOR GITHUB STATS ===
*.fake_1c linguist-language=1C Enterprise
*.fake_abap linguist-language=ABAP
*.fake_actionscript linguist-language=ActionScript
*.fake_ada linguist-language=Ada
*.fake_agda linguist-language=Agda
*.fake_alloy linguist-language=Alloy
*.fake_ampl linguist-language=AMPL
*.fake_antlr linguist-language=ANTLR
*.fake_apache linguist-language=ApacheConf
*.fake_apex linguist-language=Apex
*.fake_apl linguist-language=APL
*.fake_applescript linguist-language=AppleScript
*.fake_arc linguist-language=Arc
*.fake_arduino linguist-language=Arduino
*.fake_asciidoc linguist-language=AsciiDoc
*.fake_asn1 linguist-language=ASN.1
*.fake_asp linguist-language=ASP
*.fake_assembly linguist-language=Assembly
*.fake_astro linguist-language=Astro
*.fake_autohotkey linguist-language=AutoHotkey
*.fake_autoit linguist-language=AutoIt
*.fake_awk linguist-language=Awk
*.fake_ballerina linguist-language=Ballerina
*.fake_batchfile linguist-language=Batchfile
*.fake_befunge linguist-language=Befunge
*.fake_bison linguist-language=Bison
*.fake_bitbake linguist-language=BitBake
*.fake_blade linguist-language=Blade
*.fake_blitzbasic linguist-language=BlitzBasic
*.fake_boo linguist-language=Boo
*.fake_brainfuck linguist-language=Brainfuck
*.fake_brightscript linguist-language=Brightscript
*.fake_c linguist-language=C
*.fake_csharp linguist-language=C#
*.fake_cpp linguist-language=C++
*.fake_capnproto linguist-language=Cap'n Proto
*.fake_ceylon linguist-language=Ceylon
*.fake_chapel linguist-language=Chapel
*.fake_chuck linguist-language=ChucK
*.fake_clarion linguist-language=Clarion
*.fake_clojure linguist-language=Clojure
*.fake_cmake linguist-language=CMake
*.fake_cobol linguist-language=COBOL
*.fake_coffeescript linguist-language=CoffeeScript
*.fake_coldfusion linguist-language=ColdFusion
*.fake_commonlisp linguist-language=Common Lisp
*.fake_coq linguist-language=Coq
*.fake_crystal linguist-language=Crystal
*.fake_css linguist-language=CSS
*.fake_cuda linguist-language=CUDA
*.fake_cython linguist-language=Cython
*.fake_d linguist-language=D
*.fake_dafny linguist-language=Dafny
*.fake_dart linguist-language=Dart
*.fake_dockerfile linguist-language=Dockerfile
*.fake_dogescript linguist-language=Dogescript
*.fake_dylan linguist-language=Dylan
*.fake_e linguist-language=E
*.fake_eagle linguist-language=Eagle
*.fake_elixir linguist-language=Elixir
*.fake_elm linguist-language=Elm
*.fake_emacslisp linguist-language=Emacs Lisp
*.fake_erlang linguist-language=Erlang
*.fake_fsharp linguist-language=F#
*.fake_factor linguist-language=Factor
*.fake_forth linguist-language=Forth
*.fake_fortran linguist-language=Fortran
*.fake_gdscript linguist-language=GDScript
*.fake_glsl linguist-language=GLSL
*.fake_go linguist-language=Go
*.fake_graphql linguist-language=GraphQL
*.fake_groovy linguist-language=Groovy
*.fake_hack linguist-language=Hack
*.fake_haml linguist-language=Haml
*.fake_haskell linguist-language=Haskell
*.fake_haxe linguist-language=Haxe
*.fake_hcl linguist-language=Dhall
*.fake_hlsl linguist-language=HLSL
*.fake_html linguist-language=HTML
*.fake_hy linguist-language=Hy
*.fake_idl linguist-language=IDL
*.fake_idris linguist-language=Idris
*.fake_inform7 linguist-language=Inform 7
*.fake_io linguist-language=Io
*.fake_j linguist-language=J
*.fake_java linguist-language=Java
*.fake_javascript linguist-language=JavaScript
*.fake_jinja linguist-language=Jinja
*.fake_jq linguist-language=jq
*.fake_julia linguist-language=Julia
*.fake_jupyter linguist-language=Jupyter Notebook
*.fake_kotlin linguist-language=Kotlin
*.fake_lean linguist-language=Lean
*.fake_less linguist-language=Less
*.fake_lex linguist-language=Lex
*.fake_lisp linguist-language=Lisp
*.fake_livescript linguist-language=LiveScript
*.fake_llvm linguist-language=LLVM
*.fake_logo linguist-language=Logo
*.fake_lolcode linguist-language=LOLCODE
*.fake_lua linguist-language=Lua
*.fake_makefile linguist-language=Makefile
*.fake_markdown linguist-language=Markdown
*.fake_mathematica linguist-language=Mathematica
*.fake_matlab linguist-language=MATLAB
*.fake_mercury linguist-language=Mercury
*.fake_moonscript linguist-language=MoonScript
*.fake_nemerle linguist-language=Mercury
*.fake_nim linguist-language=Nim
*.fake_nix linguist-language=Nix
*.fake_objectivec linguist-language=Objective-C
*.fake_objectivecpp linguist-language=Objective-C++
*.fake_ocaml linguist-language=OCaml
*.fake_openscad linguist-language=GLSL
*.fake_oz linguist-language=Oz
*.fake_pascal linguist-language=Pascal
*.fake_pawn linguist-language=Pawn
*.fake_perl linguist-language=Perl
*.fake_php linguist-language=PHP
*.fake_pony linguist-language=Pony
*.fake_powershell linguist-language=PowerShell
*.fake_processing linguist-language=Processing
*.fake_prolog linguist-language=Prolog
*.fake_pug linguist-language=Pug
*.fake_puppet linguist-language=Puppet
*.fake_purebasic linguist-language=PureBasic
*.fake_purescript linguist-language=PureScript
*.fake_python linguist-language=Python
*.fake_qml linguist-language=QML
*.fake_r linguist-language=R
*.fake_racket linguist-language=Racket
*.fake_raku linguist-language=Racket
*.fake_reason linguist-language=Reason
*.fake_red linguist-language=Red
*.fake_ruby linguist-language=Ruby
*.fake_rust linguist-language=Rust
*.fake_sass linguist-language=Sass
*.fake_scala linguist-language=Scala
*.fake_scheme linguist-language=Scheme
*.fake_scss linguist-language=SCSS
*.fake_shell linguist-language=Shell
*.fake_shen linguist-language=Shen
*.fake_smalltalk linguist-language=Smalltalk
*.fake_solidity linguist-language=Solidity
*.fake_sql linguist-language=SQL
*.fake_squirrel linguist-language=Squirrel
*.fake_stata linguist-language=MATLAB
*.fake_stylus linguist-language=Stylus
*.fake_svelte linguist-language=Svelte
*.fake_swift linguist-language=Swift
*.fake_systemverilog linguist-language=SystemVerilog
*.fake_tcl linguist-language=Tcl
*.fake_tex linguist-language=TeX
*.fake_thrift linguist-language=Thrift
*.fake_typescript linguist-language=TypeScript
*.fake_vala linguist-language=Vala
*.fake_verilog linguist-language=Verilog
*.fake_vhdl linguist-language=VHDL
*.fake_viml linguist-language=Vim script
*.fake_visualbasic linguist-language=Visual Basic .NET
*.fake_vue linguist-language=Vue
*.fake_webassembly linguist-language=WebAssembly
*.fake_whitespace linguist-language=Whitespace
*.fake_xml linguist-language=XML
*.fake_yaml linguist-language=YAML
*.fake_zig linguist-language=Nim
